body{
    font-family: Quicksand;
    --schriftfarbe:#232B2B;
    --hintergrund: #D8EBEB;
    --hauptfarbe: #B2D8D8;
    
}

#body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3 {
    padding:1vw;
}

.navbar-brand {
    margin-left: 1vw;
    font-weight: 600;
    color:var(--schriftfarbe);
    font-size:42px;
}

.navi{
    background-image: linear-gradient(180deg, var(--hauptfarbe), 60%, var(--hintergrund));
    font-size:20px;
    border-radius: 0px 0px 10px 20px;
    
}

.nav-linki:hover {
    color:white;
    font-weight: 600;
    
}

/*
Da man Bootstrap-Klassen nicht so leicht überschreiben kann, einfach kopieren und ändern
- andernfalls einfach Bootstrap als Datei downloaden und selber modifizieren (nav-link->i).
Hier wollte er die Farbe sonst nicht ändern
*/
.nav-linki {
    color:var(--schriftfarbe);
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    
}

#content {
    background-color: var(--hintergrund);
    padding:4%;
    border:dotted gray;
    border-radius: 32px;
    box-shadow: slategray 6px 8px 4px 6px;
    margin:4vh 5vw;
    display:block;
    overflow:auto;
    min-height:42vh;
}

.bg:hover {
    corner-radius:4px;
    background-image: linear-gradient(180deg, var(--hauptfarbe), var(--hintergrund));
    
}

.progress {
    color: var(--hauptfarbe);
    background-color: white;
}

#relFeedbackMet{
    margin: 20px;
}

#roccVar{
    margin: 2%;
    width: 90%;
}

th {
    padding: 3px;
    background-color: var(--hauptfarbe);
    text-align: center;
}

tr:hover {
    background-color: white;
}

/*.bg:hover {
   visibility: hidden;
}*/

button{
    background-color: #e1e6e6;
    font-size: 18px;
    border: none; 
    /*Methode um den Inhalt der Buttons vertikal und horizontal zu zentrieren*/
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #6f7172;  
}

button:hover {
    background-color: #fbfcfc;
    transform: scale(1.2);
}

#roccBtnSolution {
    margin: 3%;
    float:right;

}

@media screen and (max-width: 690px) {
    #roccVar {
        margin: 0;
    }
    .roccHeadRow, .inputCol {
        display: none;
    }
    
    th {
        text-align: left;
    }

}

